body{
    display: flex;

    
}
.main{
    float: left;
    border: 1px solid black;
    height: 400px;
    margin: 20px;
    width: 200px;
    
}
.punkty{
    float: left;
    border: 1px solid black;
    height: 400px;
    margin: 20px;
    width: 200px;

}
img{
    width: 200px;
    height: 100px;
}
